*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;   
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
:root{
    --header-height:80px;
    --border-color:#DBDBDB;
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --primary-color:#555;
    --hover-color:#f65e39;
    
    
}
.btn{
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    height: 36px;
    border-radius: 3px;
    border: none;
}
@keyframes downToUp{
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/* Margin */
/* MARGIN */
.mt-16 {
    margin-top: 16px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-8{
    margin-top: 8px;
}

.mt-55 {
    margin-top: 55px;
}
.mtl-8 {
    margin-left: 8px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mt-18{
    margin-top: 18px;
}
.mt-20{
    margin-top: 20px;
}
.mt-48{
    margin-top: 40px;
}
.mb-18 {
    margin-bottom: 18px;
}
.mt-50 {
    margin-top: 50px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-70 {
    margin-bottom: 70px;
}
.mb-36 {
    margin-bottom: 36px;
}
.mr-20 {
    margin-right: 20px;
}
/* Slick */
.slick{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 8px 1px rgb(0 0 0 / 14%);
    background-color: var(--white-color);
    z-index: 1;
    cursor: pointer;
}
.slick:hover{
    color: var(--hover-color);
}
@keyframes scaleImg{
    from{
       transform: scale(0);
    }
    to{
        transform: scale(0.7);
    }
}
