/* Mobile  & Tabler*/
@media screen and (max-width:1023px){
    .body{
        margin-left: 10px;
        margin-right: 10px;
    }
    .row{
        flex-wrap: nowrap;
    }
    .row.wrap{
        flex-wrap: wrap;
    }
    .grid.wide{
        width: 100%;
    }
    @keyframes opcaityUp {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    .hide-mobile-tablet{
        display: none;
    }
    .menu-tablet-mobile{
        display: block;
        font-size: 3.5rem;
        padding: 15px 15px;
        margin-left: auto;
    }
    .header__mobile-bars-menu{
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        max-width: 300px;
        background-color: white;
        padding: 20px;
        z-index: 3;
        width: 100%;
        transform: translateX(-100%);
        transition:all linear 0.5s ;
    }
    .header-sort-list-item{
        list-style: none;
        font-size: 1.6rem;
        line-height: 1.8rem;
        padding: 16px;
    }
    .header-sort-list-item-link{
        display: block;
        text-decoration: none;
        color: var(--text-color);
    }
    .header__mobile-img{
        width: 24px;
        height: 24px;
    }
    .header__mobile-translate-container{
        display: flex;
        border-radius: 50px;
        background-color: #f6f6f6;
        padding: 10px 6px;
        position: relative;
    }
    .header__mobile-currency{
        line-height: 24px;
        margin-left: 10px;
    }
    .header__mobile-icon{
        margin-left: auto;
    }
    footer{
        margin-left: 10px;
        margin-right: 10px;
    }
   

}
/* Mobile */
@media (max-width:739px){
    .hide-mobile{
        display: none;
    }
}
/* Tablet */
@media  (min-width:740px) and (max-width:1023px){
.hide-tablet{
    display: none;
}
.footer-bottom{
 margin: 0 35px;       
}
}
    